.parallaxContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.parallaxImage {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  will-change: transform;
}
